Repository opentoucan/dotbot, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/helm, area/code

ci: increase helm ct timeout for deps and use chart configmap from values
  charts/dotbot/ci/*-values.yaml
  ct.yaml
Labels: area/helm

ci: increase helm ct timeout for deps and use chart configmap from values
  charts/dotbot/ci/*-values.yaml
  ct.yaml
Labels: area/helm

Update index.yaml
  index.yaml
Labels: none

ci: remove configmap creation from ci helm workflow
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: remove configmap creation from ci helm workflow
  .github/workflows/ci-helm.yaml
Labels: area/github

feat: saved command metrics for each query
  Directory.Packages.props
  localdev/docker/docker-compose.yml
  localdev/prometheus/prometheus-config.yaml
  src/Dotbot.Api/Application/Api/SlashCommandApi.cs
  src/Dotbot.Api/Properties/launchSettings.json
  src/Dotbot.Infrastructure/Extensions/Extensions.cs
  src/ServiceDefaults/Extensions.cs
  src/ServiceDefaults/Instrumentation.cs
  src/ServiceDefaults/ServiceDefaults.csproj
Labels: area/code

feat: saved command metrics for each query
  Directory.Packages.props
  localdev/docker/docker-compose.yml
  localdev/prometheus/prometheus-config.yaml
  src/Dotbot.Api/Application/Api/SlashCommandApi.cs
  src/Dotbot.Api/Properties/launchSettings.json
  src/Dotbot.Infrastructure/Extensions/Extensions.cs
  src/ServiceDefaults/Extensions.cs
  src/ServiceDefaults/Instrumentation.cs
  src/ServiceDefaults/ServiceDefaults.csproj
Labels: area/code

fix: test and dotnet format
  src/Dotbot.Api/Application/Api/SlashCommandApi.cs
  src/Dotbot.Infrastructure/DotbotContext.cs
  src/Dotbot.Infrastructure/Entities/Entity.cs
  src/Dotbot.Infrastructure/Extensions/MediatorExtensions.cs
  src/ServiceDefaults/Instrumentation.cs
  src/ServiceDefaults/ServiceDefaults.csproj
  tests/Dotbot.Api.UnitTests/Api/SlashCommandApiTests/GetCustomCommandTests.cs
Labels: area/code

fix: test and dotnet format
  src/Dotbot.Api/Application/Api/SlashCommandApi.cs
  src/Dotbot.Infrastructure/DotbotContext.cs
  src/Dotbot.Infrastructure/Entities/Entity.cs
  src/Dotbot.Infrastructure/Extensions/MediatorExtensions.cs
  src/ServiceDefaults/Instrumentation.cs
  src/ServiceDefaults/ServiceDefaults.csproj
  tests/Dotbot.Api.UnitTests/Api/SlashCommandApiTests/GetCustomCommandTests.cs
Labels: area/code

ci: pin python version 3.13.1
  .github/workflows/ci.yaml
Labels: area/github

ci: pin python version 3.13.1
  .github/workflows/ci.yaml
Labels: area/github

ci: pin uv version
  .github/workflows/ci.yaml
Labels: area/github

ci: pin uv version
  .github/workflows/ci.yaml
Labels: area/github

fix: use local environment for on-startup migration
  localdev/docker/docker-compose.yml
  src/Dotbot.Api/appsettings.local.json
  src/Dotbot.Infrastructure/Extensions/Extensions.cs
Labels: area/code

fix: use local environment for on-startup migration
  localdev/docker/docker-compose.yml
  src/Dotbot.Api/appsettings.local.json
  src/Dotbot.Infrastructure/Extensions/Extensions.cs
Labels: area/code

ci: use build arg for setting app version and pin sdk version using global.json
  .github/workflows/ci.yaml
  global.json
  src/Dotbot.Api/Dockerfile
Labels: area/github, area/code

ci: use build arg for setting app version and pin sdk version using global.json
  .github/workflows/ci.yaml
  global.json
  src/Dotbot.Api/Dockerfile
Labels: area/github, area/code

ci: use global.json for all setup-donet actions
  .github/workflows/ci.yaml
Labels: area/github

ci: use global.json for all setup-donet actions
  .github/workflows/ci.yaml
Labels: area/github

chore: added devcontainer features for managing the workspace and service dependencies
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.example.env
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.deps.yml
  .devcontainer/docker-compose.workspace.yml
  .gitignore
  scripts/bump-chart-version.sh
  scripts/update-discord-interaction-endpoint.sh
  src/Dotbot.Api/Properties/launchSettings.json
Labels: area/code

chore: added devcontainer features for managing the workspace and service dependencies
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.example.env
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.deps.yml
  .devcontainer/docker-compose.workspace.yml
  .gitignore
  scripts/bump-chart-version.sh
  scripts/update-discord-interaction-endpoint.sh
  src/Dotbot.Api/Properties/launchSettings.json
Labels: area/code

chore: add vscode settings
  .vscode/launch.json
  .vscode/tasks.json
Labels: none

chore: add vscode settings
  .vscode/launch.json
  .vscode/tasks.json
Labels: none

chore: update .gitignore
  .gitignore
Labels: none

chore: update .gitignore
  .gitignore
Labels: none

chore: remove DotSettings.user file from vc
  Dotbot.sln.DotSettings.user
Labels: none

chore: remove DotSettings.user file from vc
  Dotbot.sln.DotSettings.user
Labels: none

chore: merge compose files
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.workspace.yml
Labels: none

chore: merge compose files
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.workspace.yml
Labels: none

chore: remove localdev folder
  localdev/Readme.md
  localdev/docker/docker-compose.yml
  localdev/grafana/grafana.ini
  localdev/grafana/provisioning/dashboards/dotbot/demo-dashboard.json
  localdev/grafana/provisioning/dashboards/dotbot/opentelemetry-collector-data-flow.json
  localdev/grafana/provisioning/dashboards/dotbot/opentelemetry-collector.json
  localdev/grafana/provisioning/dashboards/dotbot/spanmetrics-dashboard.json
  localdev/grafana/provisioning/datasources/default.yaml
  localdev/grafana/provisioning/datasources/jaeger.yaml
  localdev/grafana/provisioning/datasources/loki.yaml
  localdev/k8s/bootstrap.sh
  localdev/k8s/dotbot-values.yaml
  localdev/k8s/lint-helm.sh
  localdev/k8s/teardown.sh
  localdev/k8s/tilt-extensions/helm_remote/Tiltfile
  localdev/otelcollector/otelcol-config.yml
  localdev/prometheus/prometheus-config.yaml
Labels: none

chore: remove localdev folder
  localdev/Readme.md
  localdev/docker/docker-compose.yml
  localdev/grafana/grafana.ini
  localdev/grafana/provisioning/dashboards/dotbot/demo-dashboard.json
  localdev/grafana/provisioning/dashboards/dotbot/opentelemetry-collector-data-flow.json
  localdev/grafana/provisioning/dashboards/dotbot/opentelemetry-collector.json
  localdev/grafana/provisioning/dashboards/dotbot/spanmetrics-dashboard.json
  localdev/grafana/provisioning/datasources/default.yaml
  localdev/grafana/provisioning/datasources/jaeger.yaml
  localdev/grafana/provisioning/datasources/loki.yaml
  localdev/k8s/bootstrap.sh
  localdev/k8s/dotbot-values.yaml
  localdev/k8s/lint-helm.sh
  localdev/k8s/teardown.sh
  localdev/k8s/tilt-extensions/helm_remote/Tiltfile
  localdev/otelcollector/otelcol-config.yml
  localdev/prometheus/prometheus-config.yaml
Labels: none

chore: update readme
  README.md
Labels: area/docs

chore: update readme
  README.md
Labels: area/docs

chore: fix devcontainer compose path
  .devcontainer/devcontainer.json
Labels: none

chore: fix devcontainer compose path
  .devcontainer/devcontainer.json
Labels: none

chore: use latest sdk in major version because microsoft don't update devcontainers in sync with dotnet sdk
  .devcontainer/Dockerfile
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
Labels: none

chore: use latest sdk in major version because microsoft don't update devcontainers in sync with dotnet sdk
  .devcontainer/Dockerfile
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
Labels: none

feat: use oci container image specification and cosign after build
  .github/workflows/ci.yaml
Labels: area/github

feat: use oci container image specification and cosign after build
  .github/workflows/ci.yaml
Labels: area/github

chore: pin github actions digests
  .github/workflows/ci-helm.yaml
  .github/workflows/ci.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .github/workflows/test-report.yaml
  .renovate/customManagers.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/packageRules.json5
  .renovate/semanticCommits.json5
  renovate.json5
Labels: area/github

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/helm:
  - changed-files:
      - any-glob-to-any-file: "charts/**"
area/code:
  - changed-files:
      - any-glob-to-any-file:
          - "Directory.Packages.props"
          - "src/**"
          - "tests/**"
