Repository opentoucan/dotbot, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/helm, area/code

fix: dotnet version in dockerfile and ci
  .github/workflows/ci.yaml
  src/Dotbot.Gateway/Dockerfile
  src/Dotbot.Infrastructure/migration.Dockerfile
Labels: area/github, area/code

ci: add renovate config and remove commit message extension
  .github/renovate.json5
  .github/renovate/commitMessage.json5
Labels: area/github

fix: aspnet runtime version dependency
  src/Dotbot.Gateway/Dockerfile
  src/Dotbot.Infrastructure/migration.Dockerfile
Labels: area/code

ci: ignore workflow changes
  .github/workflows/ci-helm.yaml
  .github/workflows/ci.yaml
Labels: area/github

ci: rename helm CI pipeline
  .github/workflows/ci-helm.yaml
Labels: area/github

chore: cleanup unused files
  Tiltfile
Labels: none

chore: use pinned version for login action v3.3.0
  .github/workflows/ci.yaml
Labels: area/github

chore: use pinned version for metadata action v5.6.1
  .github/workflows/ci.yaml
Labels: area/github

chore(deps): pinned version checkout action v4.2.2
  .github/workflows/ci.yaml
Labels: area/github

chore(deps): pinned version setup-dotnet v4.2.0
  .github/workflows/ci.yaml
Labels: area/github

chore(deps): pinned version checkout action v4.2.2
  .github/workflows/ci-helm.yaml
  .github/workflows/ci.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/release.yaml
Labels: area/github

chore(deps): pinned version setup python v5.3.0
  .github/workflows/ci-helm.yaml
Labels: area/github

chore(deps): pinned version setup-helm action v4.2.0
  .github/workflows/ci-helm.yaml
  .github/workflows/helm-release.yaml
Labels: area/github

chore: use pinned version for login action v3.3.0
  .github/workflows/helm-release.yaml
Labels: area/github

chore(deps): pinned version label sync action v2.3.3
  .github/workflows/label-sync.yaml
Labels: area/github

chore(deps): pinned version createe github app token v1.11.1
  .github/workflows/labeler.yaml
Labels: area/github

chore(deps): pinned labeler action to v5.0.0
  .github/workflows/labeler.yaml
Labels: area/github

chore(deps): pinned setup-go action v5.2.0
  .github/workflows/release.yaml
Labels: area/github

chore(deps): pinned renovate workflow actions to their latest versions
  .github/workflows/renovate.yaml
Labels: area/github

chore: fix bad copy paste of renovate config
  .github/renovate.json5
Labels: area/github

chore: enabled digest pinning in helm values
  .github/renovate.json5
  charts/dotbot/values.yaml
Labels: area/github, area/helm

fix: helm values renovate dependencies by following convention with image values
  .github/renovate.json5
  charts/dotbot/templates/cronjob.yaml
  charts/dotbot/templates/deployment.yaml
  charts/dotbot/templates/job-migrator.yaml
  charts/dotbot/values.yaml
Labels: area/github, area/helm

chore: move dotnet version to cpm file
  Directory.Packages.props
  src/Dotbot.Gateway/Dotbot.Gateway.csproj
  src/Dotbot.Infrastructure/Dotbot.Infrastructure.csproj
  src/ServiceDefaults/ServiceDefaults.csproj
  tests/Dotbot.Gateway.FunctionalTests/Dotbot.Gateway.FunctionalTests.csproj
  tests/Dotbot.Gateway.UnitTests/Dotbot.Gateway.UnitTests.csproj
Labels: area/code

chore: disable digest pinning for helm values
  .github/renovate.json5
Labels: area/github

chore: update default.nix with .net sdks
  default.nix
Labels: none

chore: bump package versions and remove variables for renovate
  Directory.Packages.props
Labels: area/code

refactor: moved functionality into service classes and minimal api endpoints for testing support
  Dotbot.sln
  src/Dotbot.Gateway/Application/Api/SlashCommandApi.cs
  src/Dotbot.Gateway/Application/DiscordCommandsModule.cs
  src/Dotbot.Gateway/Application/SaveCommandModule.cs
  src/Dotbot.Gateway/Dotbot.Gateway.csproj
  src/Dotbot.Gateway/Extensions/DiscordExtensions.cs
  src/Dotbot.Gateway/Extensions/Extensions.cs
  src/Dotbot.Gateway/Program.cs
  src/Dotbot.Gateway/Services/CustomCommandService.cs
  src/Dotbot.Gateway/Services/FileUploadService.cs
  src/Dotbot.Gateway/Services/RegistrationHostedService.cs
  src/Dotbot.Gateway/Services/RegistrationService.cs
  src/Dotbot.Gateway/Services/XkcdService.cs
  tests/Dotbot.Gateway.FunctionalTests/Dotbot.Gateway.FunctionalTests.csproj
  tests/Dotbot.Gateway.FunctionalTests/DotbotGatewayTests.cs
  tests/Dotbot.Gateway.FunctionalTests/Setup/CustomWebApplicationFactory.cs
  tests/Dotbot.Gateway.FunctionalTests/Setup/FakeData.cs
  tests/Dotbot.Gateway.FunctionalTests/Setup/ServiceCollectionExtensions.cs
  tests/Dotbot.Gateway.UnitTests/Api/SlashCommandApiTests/AvatarCommandTests.cs
  tests/Dotbot.Gateway.UnitTests/Api/SlashCommandApiTests/GetCustomCommandTests.cs
  tests/Dotbot.Gateway.UnitTests/Api/SlashCommandApiTests/XkcdCommandTests.cs
  tests/Dotbot.Gateway.UnitTests/Dotbot.Gateway.UnitTests.csproj
  tests/Dotbot.Gateway.UnitTests/GlobalUsings.cs
  tests/Dotbot.Gateway.UnitTests/Services/CustomCommandServiceTests.cs
Labels: area/code

chore: cleanup nuget dependencies
  Directory.Packages.props
Labels: area/code

fix: removed unused reference to web api client package in unit test project
  tests/Dotbot.Gateway.UnitTests/Dotbot.Gateway.UnitTests.csproj
Labels: area/code

Refactor with unit tests (#146)
  Directory.Packages.props
  Dotbot.sln
  src/Dotbot.Gateway/Application/Api/SlashCommandApi.cs
  src/Dotbot.Gateway/Application/DiscordCommandsModule.cs
  src/Dotbot.Gateway/Application/SaveCommandModule.cs
  src/Dotbot.Gateway/Dotbot.Gateway.csproj
  src/Dotbot.Gateway/Extensions/DiscordExtensions.cs
  src/Dotbot.Gateway/Extensions/Extensions.cs
  src/Dotbot.Gateway/Program.cs
  src/Dotbot.Gateway/Services/CustomCommandService.cs
  src/Dotbot.Gateway/Services/FileUploadService.cs
  src/Dotbot.Gateway/Services/RegistrationHostedService.cs
  src/Dotbot.Gateway/Services/RegistrationService.cs
  src/Dotbot.Gateway/Services/XkcdService.cs
  tests/Dotbot.Gateway.FunctionalTests/Dotbot.Gateway.FunctionalTests.csproj
  tests/Dotbot.Gateway.FunctionalTests/DotbotGatewayTests.cs
  tests/Dotbot.Gateway.FunctionalTests/Setup/CustomWebApplicationFactory.cs
  tests/Dotbot.Gateway.FunctionalTests/Setup/FakeData.cs
  tests/Dotbot.Gateway.FunctionalTests/Setup/ServiceCollectionExtensions.cs
  tests/Dotbot.Gateway.UnitTests/Api/SlashCommandApiTests/AvatarCommandTests.cs
  tests/Dotbot.Gateway.UnitTests/Api/SlashCommandApiTests/GetCustomCommandTests.cs
  tests/Dotbot.Gateway.UnitTests/Api/SlashCommandApiTests/XkcdCommandTests.cs
  tests/Dotbot.Gateway.UnitTests/Dotbot.Gateway.UnitTests.csproj
  tests/Dotbot.Gateway.UnitTests/GlobalUsings.cs
  tests/Dotbot.Gateway.UnitTests/Services/CustomCommandServiceTests.cs
Labels: area/code

Refactor with unit tests (#146)
  Directory.Packages.props
  Dotbot.sln
  src/Dotbot.Gateway/Application/Api/SlashCommandApi.cs
  src/Dotbot.Gateway/Application/DiscordCommandsModule.cs
  src/Dotbot.Gateway/Application/SaveCommandModule.cs
  src/Dotbot.Gateway/Dotbot.Gateway.csproj
  src/Dotbot.Gateway/Extensions/DiscordExtensions.cs
  src/Dotbot.Gateway/Extensions/Extensions.cs
  src/Dotbot.Gateway/Program.cs
  src/Dotbot.Gateway/Services/CustomCommandService.cs
  src/Dotbot.Gateway/Services/FileUploadService.cs
  src/Dotbot.Gateway/Services/RegistrationHostedService.cs
  src/Dotbot.Gateway/Services/RegistrationService.cs
  src/Dotbot.Gateway/Services/XkcdService.cs
  tests/Dotbot.Gateway.FunctionalTests/Dotbot.Gateway.FunctionalTests.csproj
  tests/Dotbot.Gateway.FunctionalTests/DotbotGatewayTests.cs
  tests/Dotbot.Gateway.FunctionalTests/Setup/CustomWebApplicationFactory.cs
  tests/Dotbot.Gateway.FunctionalTests/Setup/FakeData.cs
  tests/Dotbot.Gateway.FunctionalTests/Setup/ServiceCollectionExtensions.cs
  tests/Dotbot.Gateway.UnitTests/Api/SlashCommandApiTests/AvatarCommandTests.cs
  tests/Dotbot.Gateway.UnitTests/Api/SlashCommandApiTests/GetCustomCommandTests.cs
  tests/Dotbot.Gateway.UnitTests/Api/SlashCommandApiTests/XkcdCommandTests.cs
  tests/Dotbot.Gateway.UnitTests/Dotbot.Gateway.UnitTests.csproj
  tests/Dotbot.Gateway.UnitTests/GlobalUsings.cs
  tests/Dotbot.Gateway.UnitTests/Services/CustomCommandServiceTests.cs
Labels: area/code

fix: trx reporting for new microsoft testing platform
  Directory.Packages.props
  tests/Dotbot.Gateway.UnitTests/Dotbot.Gateway.UnitTests.csproj
Labels: area/code

fix: trx reporting for new microsoft testing platform
  Directory.Packages.props
  tests/Dotbot.Gateway.UnitTests/Dotbot.Gateway.UnitTests.csproj
Labels: area/code

chore: add dotnet-tools.json config file
  .config/dotnet-tools.json
Labels: none

chore: add dotnet-tools.json config file
  .config/dotnet-tools.json
Labels: none

ci: use checked in dotnet-tools.json file for ef
  .github/workflows/ci.yaml
Labels: area/github

chore: bump grpc.aspnetcore packages 2.59.0 -> 2.67.0
  Directory.Packages.props
Labels: area/code

chore: bump grpc.aspnetcore packages 2.59.0 -> 2.67.0
  Directory.Packages.props
Labels: area/code

chore: cleanup unused folders
  tests/Dotbot.Api.UnitTests/Dotbot.Api.UnitTests.csproj
Labels: area/code

chore: cleanup unused folders
  tests/Dotbot.Api.UnitTests/Dotbot.Api.UnitTests.csproj
Labels: area/code

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/helm:
  - changed-files:
      - any-glob-to-any-file: "charts/**"
area/code:
  - changed-files:
      - any-glob-to-any-file:
          - "Directory.Packages.props"
          - "src/**"
          - "tests/**"
