Repository opentoucan/dotbot, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/helm, area/code

ci: fix checkout action in helm release and run renovate after ci
  .github/workflows/ci-helm.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore: tidy up chart docs
  charts/dotbot/CHANGELOG.md
  charts/dotbot/readme.md
Labels: area/helm

chore: tidy up chart docs
  charts/dotbot/CHANGELOG.md
  charts/dotbot/readme.md
Labels: area/helm

ci: skip charts already released
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: skip charts already released
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: revert renovate post complete workflow hook due to rate limits
  .github/workflows/renovate.yaml
Labels: area/github

ci: revert renovate post complete workflow hook due to rate limits
  .github/workflows/renovate.yaml
Labels: area/github

fix: make script executable
  scripts/bump-chart-version.sh
Labels: none

fix: make script executable
  scripts/bump-chart-version.sh
Labels: none

ci: fix helm linter for ci values
  charts/dotbot/ci/*-values.yaml
Labels: area/helm

ci: fix helm linter for ci values
  charts/dotbot/ci/*-values.yaml
Labels: area/helm

ci: group dotbot helm chart dependencies together
  .github/renovate/groups.json5
Labels: area/github

ci: group dotbot helm chart dependencies together
  .github/renovate/groups.json5
Labels: area/github

ci: pin helm values digests and remove automerge
  .github/renovate.json5
  .github/renovate/groups.json5
  .github/renovate/packageRules.json5
Labels: area/github

ci: pin helm values digests and remove automerge
  .github/renovate.json5
  .github/renovate/groups.json5
  .github/renovate/packageRules.json5
Labels: area/github

chore: pin digests in helm values
  charts/dotbot/templates/deployment.yaml
  charts/dotbot/templates/job-migrator.yaml
  charts/dotbot/values.yaml
Labels: area/helm

chore: pin digests in helm values
  charts/dotbot/templates/deployment.yaml
  charts/dotbot/templates/job-migrator.yaml
  charts/dotbot/values.yaml
Labels: area/helm

ci: support multiple helm charts pushed to oci registry
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: support multiple helm charts pushed to oci registry
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: add docker to group datasource
  .github/renovate/groups.json5
Labels: area/github

ci: add docker to group datasource
  .github/renovate/groups.json5
Labels: area/github

ci: use default namespace in chart testing install
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: use default namespace in chart testing install
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: use integration test token and public key
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: use integration test token and public key
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: reduce timeout and remove unused test
  charts/dotbot/templates/tests/test-connection.yaml
  ct.yaml
Labels: area/helm

ci: reduce timeout and remove unused test
  charts/dotbot/templates/tests/test-connection.yaml
  ct.yaml
Labels: area/helm

ci: reduce timeout and add nodeport for testing
  charts/dotbot/ci/*-values.yaml
  charts/dotbot/templates/service.yaml
  ct.yaml
Labels: area/helm

ci: reduce timeout and add nodeport for testing
  charts/dotbot/ci/*-values.yaml
  charts/dotbot/templates/service.yaml
  ct.yaml
Labels: area/helm

ci: increase timeout for helm testing
  ct.yaml
Labels: none

ci: increase timeout for helm testing
  ct.yaml
Labels: none

ci: use cluster IP instead of nodeport for testing
  charts/dotbot/ci/*-values.yaml
Labels: area/helm

ci: use cluster IP instead of nodeport for testing
  charts/dotbot/ci/*-values.yaml
Labels: area/helm

chore: bump chart
  charts/dotbot/Chart.yaml
  charts/dotbot/templates/service.yaml
Labels: area/helm

ci: use helm install to see why it refuses to behave
  .github/workflows/ci-helm.yaml
Labels: area/github

chore: add debug flag
  .github/workflows/ci-helm.yaml
Labels: area/github

fix: remove configmap creation
  .github/workflows/ci-helm.yaml
  charts/dotbot/ci/*-values.yaml
Labels: area/github, area/helm

fine if you still won't behave
  .github/workflows/ci-helm.yaml
Labels: area/github

please have mercy ct
  .github/workflows/ci-helm.yaml
Labels: area/github

up timeout
  ct.yaml
Labels: none

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/helm:
  - changed-files:
      - any-glob-to-any-file: "charts/**"
area/code:
  - changed-files:
      - any-glob-to-any-file:
          - "Directory.Packages.props"
          - "src/**"
          - "tests/**"
