Repository opentoucan/dotbot, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/helm, area/code

ci: use existing manifest for dotnet tools
  .github/workflows/ci.yaml
Labels: area/github

ci: use existing manifest for dotnet tools
  .github/workflows/ci.yaml
Labels: area/github

chore: rename discord settings class for namespace tidying
  src/Dotbot.Api/Extensions/DiscordExtensions.cs
  src/Dotbot.Api/Services/CustomCommandService.cs
  src/Dotbot.Api/Settings/DiscordSettings.cs
  tests/Dotbot.Api.UnitTests/Services/CustomCommandServiceTests.cs
Labels: area/code

chore: rename discord settings class for namespace tidying
  src/Dotbot.Api/Extensions/DiscordExtensions.cs
  src/Dotbot.Api/Services/CustomCommandService.cs
  src/Dotbot.Api/Settings/DiscordSettings.cs
  tests/Dotbot.Api.UnitTests/Services/CustomCommandServiceTests.cs
Labels: area/code

ci: match any directory for trx reporting file
  .github/workflows/test-report.yaml
Labels: area/github

ci: match any directory for trx reporting file
  .github/workflows/test-report.yaml
Labels: area/github

fix: deprecate Swashbuckle in favour of openapi and scalar generation
  Directory.Packages.props
  src/Dotbot.Api/Dotbot.Api.csproj
  src/Dotbot.Api/Program.cs
  src/ServiceDefaults/Extensions.cs
  src/ServiceDefaults/OpenApiExtensions.cs
  src/ServiceDefaults/ServiceDefaults.csproj
Labels: area/code

fix: deprecate Swashbuckle in favour of openapi and scalar generation
  Directory.Packages.props
  src/Dotbot.Api/Dotbot.Api.csproj
  src/Dotbot.Api/Program.cs
  src/ServiceDefaults/Extensions.cs
  src/ServiceDefaults/OpenApiExtensions.cs
  src/ServiceDefaults/ServiceDefaults.csproj
Labels: area/code

ci: release images on tag pushes directly
  .github/workflows/ci.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/release.yaml
Labels: area/github

ci: release images on tag pushes directly
  .github/workflows/ci.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/release.yaml
Labels: area/github

build: otlp endpoint fix for local development
  localdev/otelcollector/otelcol-config.yml
Labels: none

build: otlp endpoint fix for local development
  localdev/otelcollector/otelcol-config.yml
Labels: none

ci: syntax error in tag extraction
  .github/workflows/ci.yaml
Labels: area/github

ci: syntax error in tag extraction
  .github/workflows/ci.yaml
Labels: area/github

chore: remove unused allowedhosts appsettings config
  src/Dotbot.Api/appsettings.Development.json
  src/Dotbot.Api/appsettings.json
Labels: area/code

chore: remove unused allowedhosts appsettings config
  src/Dotbot.Api/appsettings.Development.json
  src/Dotbot.Api/appsettings.json
Labels: area/code

fix: change ping command response
  src/Dotbot.Api/Application/Api/SlashCommandApi.cs
Labels: area/code

fix: change ping command response
  src/Dotbot.Api/Application/Api/SlashCommandApi.cs
Labels: area/code

chore(helm): release chart version v1.0.0
  charts/dotbot/Chart.yaml
  charts/dotbot/values.yaml
Labels: area/helm

chore(helm): release chart version v1.0.0
  charts/dotbot/Chart.yaml
  charts/dotbot/values.yaml
Labels: area/helm

Update index.yaml
  index.yaml
Labels: none

fix: helm chart deployment values tag not changed
  charts/dotbot/templates/_helpers.tpl
  charts/dotbot/templates/deployment.yaml
Labels: area/helm

fix: helm chart deployment values tag not changed
  charts/dotbot/templates/_helpers.tpl
  charts/dotbot/templates/deployment.yaml
Labels: area/helm

chore(helm): release chart version to v3.0.1
  charts/dotbot/Chart.yaml
Labels: area/helm

Update index.yaml
  index.yaml
Labels: none

chore(helm): release chart version to v1.0.1
  charts/dotbot/Chart.yaml
Labels: area/helm

chore(helm): release chart version to v1.0.1
  charts/dotbot/Chart.yaml
Labels: area/helm

fix: helm chart digest for dotbot.api v3.0.0
  charts/dotbot/values.yaml
Labels: area/helm

fix: helm chart digest for dotbot.api v3.0.0
  charts/dotbot/values.yaml
Labels: area/helm

chore:(helm): release chart v1.0.2
  charts/dotbot/Chart.yaml
Labels: area/helm

chore:(helm): release chart v1.0.2
  charts/dotbot/Chart.yaml
Labels: area/helm

fix: bezos strikes again with breaking changes
  src/ServiceDefaults/Extensions.cs
Labels: area/code

fix: bezos strikes again with breaking changes
  src/ServiceDefaults/Extensions.cs
Labels: area/code

Update index.yaml
  index.yaml
Labels: none

chore(helm): bump chart to version 1.0.3
  charts/dotbot/Chart.yaml
  charts/dotbot/values.yaml
Labels: area/helm

chore(helm): bump chart to version 1.0.3
  charts/dotbot/Chart.yaml
  charts/dotbot/values.yaml
Labels: area/helm

Update index.yaml
  index.yaml
Labels: none

chore: remove unused fluent assertions
  Directory.Packages.props
Labels: area/code

chore: remove unused fluent assertions
  Directory.Packages.props
Labels: area/code

chore: update labels.yaml
  .github/labels.yaml
Labels: area/github

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/helm:
  - changed-files:
      - any-glob-to-any-file: "charts/**"
area/code:
  - changed-files:
      - any-glob-to-any-file:
          - "Directory.Packages.props"
          - "src/**"
          - "tests/**"
