Repository opentoucan/dotbot, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/helm, area/code

chore: update labels.yaml
  .github/labels.yaml
Labels: area/github

ci: update renovate config
  .github/renovate.json5
  .github/renovate/groups.json5
Labels: area/github

ci: update renovate config
  .github/renovate.json5
  .github/renovate/groups.json5
Labels: area/github

ci: fix typo
  .github/renovate/groups.json5
Labels: area/github

ci: fix typo
  .github/renovate/groups.json5
Labels: area/github

refactor: dotnet formatter and enabled roslyn static analyser
  .editorconfig
  .github/workflows/ci.yaml
  Directory.Packages.props
  README.md
  src/Dotbot.Api/Application/Api/SlashCommandApi.cs
  src/Dotbot.Api/Application/Queries/GuildQueries.cs
  src/Dotbot.Api/Application/SaveCommandModule.cs
  src/Dotbot.Api/Dotbot.Api.csproj
  src/Dotbot.Api/Dto/XkcdComic.cs
  src/Dotbot.Api/Extensions/Extensions.cs
  src/Dotbot.Api/Services/CustomCommandService.cs
  src/Dotbot.Api/Services/FileUploadService.cs
  src/Dotbot.Api/Services/RegistrationHostedService.cs
  src/Dotbot.Api/Services/XkcdService.cs
  src/Dotbot.Infrastructure/Dotbot.Infrastructure.csproj
  src/Dotbot.Infrastructure/DotbotContext.cs
  src/Dotbot.Infrastructure/Entities/CustomCommand.cs
  src/Dotbot.Infrastructure/Entities/Entity.cs
  src/Dotbot.Infrastructure/Migrations/20241009135145_initial_migration.cs
  src/Dotbot.Infrastructure/Migrations/20241121231550_guild_as_aggregate_root.cs
  src/Dotbot.Infrastructure/Migrations/20241122135733_rename_commands_table.cs
  src/Dotbot.Infrastructure/Migrations/20250109131315_dotnet_nine_upgrade.cs
  src/Dotbot.Infrastructure/Repositories/IRepository.cs
  src/ServiceDefaults/Extensions.cs
  src/ServiceDefaults/OpenApiExtensions.cs
  src/ServiceDefaults/ServiceDefaults.csproj
  tests/Dotbot.Api.UnitTests/Api/SlashCommandApiTests/AvatarCommandTests.cs
  tests/Dotbot.Api.UnitTests/Api/SlashCommandApiTests/GetCustomCommandTests.cs
  tests/Dotbot.Api.UnitTests/Api/SlashCommandApiTests/XkcdCommandTests.cs
  tests/Dotbot.Api.UnitTests/Dotbot.Api.UnitTests.csproj
  tests/Dotbot.Api.UnitTests/Services/CustomCommandServiceTests.cs
Labels: area/docs, area/github, area/code

refactor: dotnet formatter and enabled roslyn static analyser
  .editorconfig
  .github/workflows/ci.yaml
  Directory.Packages.props
  README.md
  src/Dotbot.Api/Application/Api/SlashCommandApi.cs
  src/Dotbot.Api/Application/Queries/GuildQueries.cs
  src/Dotbot.Api/Application/SaveCommandModule.cs
  src/Dotbot.Api/Dotbot.Api.csproj
  src/Dotbot.Api/Dto/XkcdComic.cs
  src/Dotbot.Api/Extensions/Extensions.cs
  src/Dotbot.Api/Services/CustomCommandService.cs
  src/Dotbot.Api/Services/FileUploadService.cs
  src/Dotbot.Api/Services/RegistrationHostedService.cs
  src/Dotbot.Api/Services/XkcdService.cs
  src/Dotbot.Infrastructure/Dotbot.Infrastructure.csproj
  src/Dotbot.Infrastructure/DotbotContext.cs
  src/Dotbot.Infrastructure/Entities/CustomCommand.cs
  src/Dotbot.Infrastructure/Entities/Entity.cs
  src/Dotbot.Infrastructure/Migrations/20241009135145_initial_migration.cs
  src/Dotbot.Infrastructure/Migrations/20241121231550_guild_as_aggregate_root.cs
  src/Dotbot.Infrastructure/Migrations/20241122135733_rename_commands_table.cs
  src/Dotbot.Infrastructure/Migrations/20250109131315_dotnet_nine_upgrade.cs
  src/Dotbot.Infrastructure/Repositories/IRepository.cs
  src/ServiceDefaults/Extensions.cs
  src/ServiceDefaults/OpenApiExtensions.cs
  src/ServiceDefaults/ServiceDefaults.csproj
  tests/Dotbot.Api.UnitTests/Api/SlashCommandApiTests/AvatarCommandTests.cs
  tests/Dotbot.Api.UnitTests/Api/SlashCommandApiTests/GetCustomCommandTests.cs
  tests/Dotbot.Api.UnitTests/Api/SlashCommandApiTests/XkcdCommandTests.cs
  tests/Dotbot.Api.UnitTests/Dotbot.Api.UnitTests.csproj
  tests/Dotbot.Api.UnitTests/Services/CustomCommandServiceTests.cs
Labels: area/docs, area/github, area/code

ci: maybe I can use glob matching
  .github/workflows/ci.yaml
Labels: area/github

ci: maybe I can use glob matching
  .github/workflows/ci.yaml
Labels: area/github

chore: merge sarif files from projects
  .github/workflows/ci.yaml
Labels: area/github

chore: merge sarif files from projects
  .github/workflows/ci.yaml
Labels: area/github

chore: rename sarif file in api
  src/Dotbot.Api/Dotbot.Api.csproj
Labels: area/code

chore: rename sarif file in api
  src/Dotbot.Api/Dotbot.Api.csproj
Labels: area/code

fix: bad copypasta
  .github/workflows/ci.yaml
Labels: area/github

fix: bad copypasta
  .github/workflows/ci.yaml
Labels: area/github

ci: altered workflow permissions
  .github/workflows/ci.yaml
Labels: area/github

ci: altered workflow permissions
  .github/workflows/ci.yaml
Labels: area/github

ci: pin python version and disable caching and config in uv tool
  .github/workflows/ci.yaml
Labels: area/github

ci: pin python version and disable caching and config in uv tool
  .github/workflows/ci.yaml
Labels: area/github

ci: add schema and yaml separator to workflows
  .github/workflows/ci-helm.yaml
  .github/workflows/ci.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/test-report.yaml
Labels: area/github

ci: add schema and yaml separator to workflows
  .github/workflows/ci-helm.yaml
  .github/workflows/ci.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/test-report.yaml
Labels: area/github

ci: add python version dep to renovate
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: add python version dep to renovate
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: pin only major versions of GHA where possible to reduce renovate noise
  .github/workflows/ci-helm.yaml
  .github/workflows/ci.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

ci: pin only major versions of GHA where possible to reduce renovate noise
  .github/workflows/ci-helm.yaml
  .github/workflows/ci.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore: add python version label and fix dotnet version label
  .github/labels.yaml
Labels: area/github

chore: add python version label and fix dotnet version label
  .github/labels.yaml
Labels: area/github

ci: fix python label for renovate
  .github/labels.yaml
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

ci: fix python label for renovate
  .github/labels.yaml
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

ci: remove renovate comment
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: remove renovate comment
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: use renovate for auto releasing new chart images
  .github/renovate.json5
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
  .github/workflows/ci-helm.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/test-report.yaml
  charts/dotbot/values.yaml
  ct.yaml
  scripts/bump-chart-version.sh
Labels: area/github, area/helm

ci: use renovate for auto releasing new chart images
  .github/renovate.json5
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
  .github/workflows/ci-helm.yaml
  .github/workflows/helm-release.yaml
  .github/workflows/test-report.yaml
  charts/dotbot/values.yaml
  ct.yaml
  scripts/bump-chart-version.sh
Labels: area/github, area/helm

ci: fix skipping steps when helm chart has not changed
  .github/workflows/ci-helm.yaml
Labels: area/github

ci: fix skipping steps when helm chart has not changed
  .github/workflows/ci-helm.yaml
Labels: area/github

fix: renovate package rules config file
  .github/renovate/packageRules.json5
Labels: area/github

fix: renovate package rules config file
  .github/renovate/packageRules.json5
Labels: area/github

ci: use app version from dotbot.api but override tag in case versions should ever diverge
  charts/dotbot/Chart.yaml
  charts/dotbot/values.yaml
Labels: area/helm

ci: use app version from dotbot.api but override tag in case versions should ever diverge
  charts/dotbot/Chart.yaml
  charts/dotbot/values.yaml
Labels: area/helm

ci: fix checkout action in helm release and run renovate after ci
  .github/workflows/ci-helm.yaml
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
# Areas
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/helm:
  - changed-files:
      - any-glob-to-any-file: "charts/**"
area/code:
  - changed-files:
      - any-glob-to-any-file:
          - "Directory.Packages.props"
          - "src/**"
          - "tests/**"
